.popup {  
    position: fixed;  
    width: 35%;  
    height: 68px;  
    top: 5px;  
    left: 25%;  
    right: 10;  
    bottom: 0;    
    background-color: white;
    border-radius:5px;  
    border-style: solid;
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    
    border-radius: 20px;  
    background: white;  
  }

  .button {
    transition-duration: 0.4s;
    background-color: white;
    color: rgb(67, 218, 87);
    border: 2px solid #4CAF50; /* Green */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    height: 45px;
    
  }

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .scoreBoard {
    transition-duration: 0.4s;
    background-color: white;
    color: blue;
    border: 2px solid black; /* Green */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;

  }