.popup {  
    position: fixed;  
    width: 20%;  
    height: 60%;  
    top: 20%;  
    left: 5%;  
    right: 10;  
    bottom: 0;  
    margin: auto;  
    background-color: #FFFFFF;
    border-radius:20px;  
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }

  .button {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    
  }

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .scoreBoard {
    transition-duration: 0.4s;
    background-color: white;
    color: red;
    border: 2px solid #4CAF50; /* Green */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
  }